@import "polices";
@import "assets";
@import "variables";
@import "mixins";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
    font-size: 14px;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
body{
    background-color: #dbdbdb;
}

/* HERO SECTION */

#hero {
    background: url(../img/bg/hero_bg.jpeg) center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        background-color: black;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.7;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
    .hero {
        display: flex;
        justify-content: flex-start;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
        &__element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 50px;
            &--title {
                font-family: "Mr Dafoe";
                font-size: 4rem;
                letter-spacing: 7.5px;
                color: $orangepale;
            }
            &--slogan {
                font-family: "Mr Dafoe";
                font-size: 3rem;
                color: white;
                line-height: 3.3rem;
                margin: 10px 0;
            }
            &--cta {
                font-family: "Mr Dafoe";
                font-size: 2rem;
                color: white;
                background-color: $orange;
                padding: 8px 32px;
                border-radius: 15px;
                margin: 20px 0;
            }
        }
    }
}

/* END OF HERO SECTION */

/* PRESENTATION SECTION */

#presentation {
    min-height: 80vh;
    .presentation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        height: 70vh;
        &__text {
            width: 60%;
            padding: 0 50px;
            text-align: justify;
            h1{
                font-family: 'Bungee Shade';
                font-size: 2.5rem;
                letter-spacing: 5px;
                span{
                    color: $marron;
                }
            }
            p{
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
        &__tags {
            width: 40%;
            height: 100%;
            position: relative;
            img {
                position: absolute;
                left: 42%;
                top: 42%;
                transform: translate(-50%, -50%);
            }
            .hamburger{
                transform-origin: left;
                transform: rotate(290deg);
                transition: transform 0.4s ease;
                z-index: 3;
                &:hover{
                    transform: rotate(290deg) translateX(30px) scale(1.1);
                }
            }
            .salade{
                transform-origin: left;
                transform: rotate(0deg);
                transition: transform 0.4s ease;
                z-index: 2;
                &:hover{
                    transform: translateX(30px) scale(1.1);
                }
            }
            .pizza{
                transform-origin: left;
                transform: rotate(70deg);
                transition: transform 0.4s ease;
                z-index: 1;
                &:hover{
                    transform: rotate(70deg) translateX(30px) scale(1.1);
                }
            }
        }
    }
}

/* END OF PRESENTATION SECTION */

/* GLOBAL SECTION */

#burger, #salade, #pizza {
    background-size: cover;
    justify-content: flex-start;
    z-index: 1;
    position: relative;
    &::after {
        @include blackoverlay;
    }
    h1 {
        font-size: 3rem;
        font-family: "bungee shade";
        color: white;
        letter-spacing: 0.7rem;
        margin-bottom: 50px;
    }
    .cards {
        max-width: 100%;
        &__item {
            width: $bottomwidth;
            height: $bottomheight;
            border-radius: 15px;
            overflow: hidden;
            margin: 0 90px;
            background-color: white;
            &--top {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &--bottom {
                position: relative;
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                padding: 0 20px 20px 20px;
                border-radius: 60px 60px 0 0;
                img {
                    align-self: center;
                    width: 40px;
                    height: 40px;
                }
                p,
                h2,
                h3 {
                    font-family: "Montserrat";
                    color: white;
                }
                h2 {
                    font-size: 2rem;
                }
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 1.1rem;
                    span {
                        font-weight: 700;
                    }
                }
                .prix {
                    display: flex;
                    justify-content: space-around;
                }
                &:hover + .cards__item--top {
                    transform: translateY(0%);
                }
            }
        }
    }
}
/* END OF GLOBAL SECTION */

/* CAROUSEL */
.box {
    margin-top: 20px;
    display: flex;
    .prev,
    .next {
        margin: 0 15px;
        transform: scale(0.5);
    }
    .next {
        transform: scale(0.5) rotate(180deg);
    }
}
.slick-slide {
    transform: scale(0.8);
    opacity: 0.7;
    transition: all ease 0.3s;
    outline: none;
    &.slick-center {
        transform: scale(1);
        opacity: 1;
    }
}
/* END OF CAROUSEL */

/* ANIMATION DES CARTES */
.cards__item {
    &--bottom {
        transform: translateY(52%);
        transition: transform 0.4s ease;
        z-index: 1;
        &:hover {
            transform: translateY(0%);
            &> .corner{
                transform: translateY(0%);
            }
        }
        &:hover + .cards__item--top {
            transform: scale(1);
        }
    }
}
.corner {
    transform: translateY(70%);
    transition: 0.4s transform ease;
    z-index: -2;
}
.cards__item--top {
    transform: scale(2) translateY(13%);
    transition: transform 0.4s ease;
    z-index: -1;
}

/* FIN ANIMATION DES CARTES */

/* BURGER SECTION */
#burger {
    background: url(../img/bg/burger_bg.jpg) center;
    .cards {
        &__item {
            box-shadow:inset 0px 0px 0px 4px $orange;
            display: flex;
            flex-direction: column-reverse;
            &--top {
                img {
                    width: 180px;
                    height: 140px;
                }
            }
            &--bottom {
                background-color: $orange;
                .corner {
                    background-image: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) $bottomheight*0.1, $orange 15px);
                    @include cornersize;
                }
            }
        }
    }
}
/* END OF BURGER SECTION */

/* SALADE SECTION */
#salade {
    background: url(../img/bg/salade_bg.jpg) center;
    .cards {
        &__item {
            box-shadow:inset 0px 0px 0px 4px $vert;
            display: flex;
            flex-direction: column-reverse;
            &--top {
                img {
                    width: 180px;
                    height: 120px;
                }
            }
            &--bottom {
                background-color: $vert;
                .corner {
                    background-image: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) $bottomheight*0.1, $vert 15px);
                    @include cornersize;
                }
            }
        }
    }
}
/* END OF SALADE SECTION */

/* PIZZA SECTION */
#pizza {
    background: url(../img/bg/pizza_bg.jpg) center;
    .cards {
        &__item {
            box-shadow:inset 0px 0px 0px 4px $jaune;
            display: flex;
            flex-direction: column-reverse;
            &--top {
                img {
                    width: 180px;
                    height: 180px;
                }
            }
            &--bottom {
                background-color: $jaune;
                .corner {
                    background-image: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) $bottomheight*0.1, $jaune 15px);
                    @include cornersize;
                }
            }
        }
    }
}
/* END OF PIZZA SECTION */




/* MEDIA QUERIES 1500px */
@media screen and (max-width: 1500px) {
    #burger, #salade, #pizza {
        .cards {
            &__item {
                width: $bottomwidth * 0.875;
                height: $bottomheight * 0.875;
                margin: 0 50px;
                &--top {
                    transform: scale(1.7) translateY(15%);
                }
                &--bottom {
                    transform: translateY(54%);
                    &:hover {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
}

/* END OF MEDIA QUERIES 1500px */

/* MEDIA QUERIES 1200px */
@media screen and (max-width: 1200px) {
    #burger, #salade, #pizza {
        h1 {
            font-size: 2.1rem;
        }
        .cards {
            &__item {
                width: $bottomwidth * 0.75;
                height: $bottomheight * 0.75;
                margin: 0 220px;
                &--top {
                    transform: scale(1.5) translateY(15%);
                }
                &--bottom {
                    transform: translateY(58%);
                    &:hover {
                        transform: translateY(0%);
                    }
                    h2 {
                        font-size: 1.8rem;
                    }
                    h3 {
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 0.9rem;
                        margin-bottom: 10px;
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
/* END OF MEDIA QUERIES 1200px */

/* MEDIA QUERIES 768px */
@media screen and (max-width: 768px) {
    #burger, #salade, #pizza {
        h1 {
            font-size: 2.4rem;
            margin-top: 20px;
        }
        .cards {
            &__item {
                margin: 0 150px;
                &--top {
                    transform: scale(1) translateY(0%);
                }
                &--bottom {
                    transform: translateY(0%);
                    padding-top: 40px;
                    img, .corner {
                        display: none;
                    }
                }
            }
        }
    }
}
/* END OF MEDIA QUERIES 768px */

/* MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
    #burger, #salade, #pizza {
        padding-bottom: 100px;
        h1 {
            font-size: 1.3rem;
        }
        .cards {
            &__item {
                width: $bottomwidth * 0.625;
                height: $bottomheight * 0.68;
                margin: 0 80px;
                &--bottom {
                    h2 {
                        font-size: 1.4rem;
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-size: 0.8rem;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 0.7rem;
                        span {
                            font-weight: 700;
                        }
                    }
                    .prix {
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }
        .box {
            display: none;
        }
    }
}
/* END OF MEDIA QUERIES 480px */